@import './mixins';
@import './variables';

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
li {
    list-style: none;
    font-family: sans-serif;
    color:#1F2228;
    cursor: pointer;
    
}
a {
    text-decoration: none;
 
}
.wrapper {
    background-color: #F0F1F3;
    padding: 30px 90px;
   
    
}


header{
    @include d-flex(flex,space-between,center,_);
    
    .header_buttons {
        @include d-flex(flex,_,_,28px);
        
        &_1 {
            
         width: 84px;
          height: 40px;
         border-radius: 8px;
         padding: 8px, 16px, 8px, 16px;
         background-color: #2A5055;
        color: #F0F1F3;
         border: none;
         cursor: pointer;
        }

        &_2 {
            
            width: 84px;
             height: 40px;
            border-radius: 8px;
            padding: 8px, 16px, 8px, 16px;
            background-color:#F0F1F3 ;
            border: 1px solid  #2A5055;
            cursor: pointer;
           }      
    }

    .header_logo_title {
        font-size: 20px;
        font-family: 'Poppins', sans-serif;        
        line-height: 32px;
        font-weight: 600;
        color:  #2A5055;
        cursor: pointer;
        
    
    }
    .navbar_menu {
        @include d-flex(flex,_,center,2.5rem);
        
    }
    
    .logo_header{
        display: none;
    }
    
    
}

@media screen and (max-width:768px)  {
    
    header {
        .navbar, .header_buttons {
            display: none;
        }
        
        .logo_header {
            display: block;
        }
        
    }
    
}
  ////----Header Finished----/////


 main {
    color: red;
    background: rgb(34, 26, 26);
    height: 30rem;
 
  
  .content{
  width: 100%;
  height: 480px;
  background: #00000033;
  text-align: center;
background-image: url(Rectangle\ 8.png);
background-size: cover;

  &_box{
    width: 600px;
    height: 256px;
    padding:8rem ;
    left: 469px;
    margin: auto;
    
h1,h2 {
        width: 400px;
        height: 50px;
        font-size:26px;
        font-family: 'Poppins', sans-serif;        
        line-height: 52px;
        font-weight: 500;
        color:  #F3F4F4;      

    }
    .btn {
    display: inline-block;
    background-color:#FA8F45;
    color: rgb(251, 251, 253);
    padding: 1.2rem 3.2rem;
    margin: .5rem 0;
    border-radius: 8px;
    font-family:sans-serif;

    }

  }

  }
}
 section {
    width: 100%;
    height: 400px;
    left: 108px;
    border: 10px solid red;
    padding: 80px 60px;
    

    .boxes {
        flex-wrap: wrap;
        @include d-flex(flex,_,center,_);


    }

    .box_1 {
   position: relative;
    }
    .box_1_image {
        position: absolute;
    }

    p {
        position: absolute;
    }
















 }