@import "./mixins";
@import "./variables";
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
li {
  list-style: none;
  font-family: "Poppins", sans-serif;
  color: #1f2228;
  cursor: pointer;
  font-size: 1.2rem;
}
a {
  text-decoration: none;
}
img {
  width: 100%;
  height: auto;
}

.wrapper {
  background-color: #f0f1f3;
  padding: 1.7rem 10rem;

  
}

header {
  @include d-flex(flex, space-between, center, _);

  .header_buttons {
    @include d-flex(flex, _, _, 28px);

    &_1 {
      width: 84px;
      height: 40px;
      border-radius: 8px;
      padding: 8px, 16px, 8px, 16px;
      background-color: #2a5055;
      color: #f0f1f3;
      border: none;
      cursor: pointer;
    }

    &_2 {
      width: 84px;
      height: 40px;
      border-radius: 8px;
      padding: 8px, 16px, 8px, 16px;
      background-color: #f0f1f3;
      border: 1px solid #2a5055;
      cursor: pointer;
    }
  }

  .header_logo_title {
    font-size: 1.6rem;
    font-family: "Poppins", sans-serif;
    line-height: 32px;
    font-weight: 600;
    color: #2a5055;
    cursor: pointer;
  }
  .navbar_menu {
    @include d-flex(flex, _, center, 2.5rem);
  }

  .logo_header {
    display: none;
  }
}

@media screen and (max-width: 992px) {
  header {
    .navbar,
    .header_buttons {
      display: none;
    }

    .logo_header {
      display: block;
    }
  }
}
////----Header Finished----/////

main {
  background-color: rgb(221, 15, 15);
  background: rgb(34, 26, 26);
  height: 30rem;

  .content {
    max-width: 100%;
    height: 30rem;
    background: #e0dbdb;
    text-align: center;
    background-image: url(Rectangle\ 1.png);
    background-size: cover;
    background-position: center;

    &_box {
      width: 600px;
      height: 16rem;
      padding: 8rem;
      left: 29.3rem;
      margin: auto;

      h1,
      h2 {
        width: 400px;
        height: 50px;
        font-size: 26px;
        font-family: "Poppins", sans-serif;
        line-height: 52px;
        font-weight: 500;
        color: #f3f4f4;
      }
      .btn {
        display: inline-block;
        background-color: #fa8f45;
        color: rgb(251, 251, 253);
        padding: 1.2rem 3.2rem;
        margin: 0.5rem 0;
        border-radius: 8px;
        font-family: sans-serif; 
      }
    }
  }
}

.categories {
  padding: 6rem 10rem;

  &_container {
    max-width: 100%;

    &_heading {
      font-size: 1.1rem;
      font-family: "Poppins", sans-serif;
      line-height: 3rem;
      font-weight: 500;
      color: #292d35;
      cursor: pointer;
    }
  }

  &_container_images {
    width: 100%;
    flex-wrap: wrap;
    @include d-flex(flex, space-between, center, 1.5rem);
    padding: 1px;

    &_image {
      width: 23rem;
      height: min-content;
      position: relative;
      border: 5px red;

      &_text {
        position: absolute;
        font-size: 1.2rem;
        font-family: sans-serif;
        color: #f3f4f4;
        margin-left: 1rem;
        width: 22.5rem;
        bottom: 1.5rem;
      }

      i {
        position: absolute;
        bottom: 1rem;
        font-size: 1.1rem;
        padding: 0.5rem;
        margin-left: 20rem;
        border-radius: 50%;
        width: 50px;
        color: #ffffff;
      }
    }
  }
}
@media screen and (max-width: 768px) {
  .categories {
    width: 100%;
  }

  .categories_container_images_image {
    width: 40rem;

  }
}

.text {
  padding: 6rem 10rem;

  &_item {
    font-size: 2.2rem;
    font-family: sans-serif;
    font-weight: 500;
    line-height: 3rem;
    color: #292d35;
  }

  &_boxes {
    &_cards {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      gap: 1rem;

    }

    &_box_1 {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 30rem;
      border: 1px solid #c2c6ce;
      border-radius: 0.5rem;

      &_medical {
        width: 32.5rem;
        height: 30rem;
        padding: 0 1.5rem;

        &_images {
          width: 7rem;
          height: 7rem;

          margin: auto;
          margin-top: 5rem;
        }

        &_item {
          &_h2 {
            font-size: 1.6rem;
            font-family: sans-serif;
            font-weight: 500;
            line-height: 2rem;
            color: #292d35;
            margin-top: 3.2rem;
            text-align: center;
          }
        }

        &_text {
          &_p {
            width: 28rem;
            height: 4.5rem;
            font-size: 1rem;
            font-family: sans-serif;
            font-weight: 300;
            line-height: 1.5rem;
            margin-top: 1rem;
            text-align: center;
          }
        }
      }
    }

    &_box_2 {
      width: 31rem;
      height: 30rem;
      border: 1px solid #667085;
      border-radius: 0.5rem;

      &_medical {
        height: 30rem;
        padding: 0 1.5rem;
        @include d-flex(flex, space-between, center, 0.5rem);

        &_item {
          margin-bottom: 3rem;

          &_h2 {
            width: 20rem;
            font-size: 1.7rem;
            font-family: sans-serif;
            font-weight: 600;
            line-height: 2.2rem;
            color: #292d35;
            margin-left: 5rem;
          }

          &_p {
            width: 20rem;
            height: 4.5rem;
            font-size: 1.2rem;
            font-family: sans-serif;
            font-weight: 400;
            line-height: 3.1rem;
            text-align: center;
            margin-left: 2.5rem;
          }

          &_buttons {
            text-align: center;

            &_icon {
              position: absolute;
              margin-left: 7rem;
              padding: 0.8rem 2rem;
              margin-top: 3.5rem;
            }

            &_button {
              border: none;
              padding: 1.1rem 2.5rem;
              font-size: 1rem;
              border-radius: 0.3rem;
              background: #c9eaef;
              cursor: pointer;
              margin-top: 3rem;
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width:992px){
  .text_boxes{
    &_cards{
      display: grid;
      grid-template-columns: 1fr 1fr;
    }
  }
}

.banners {
  width: 100%;
  height: 18rem;
  padding: 6rem 9rem;
  background-color: #e4f4f7;
}
.banner {
  &_logo {
    @include d-flex(flex, space-between, center, 1.5rem);
    padding: 3rem 4rem;

    &_item {
      font-size: 2.1rem;
      font-family: "Poppins", sans-serif;
      font-weight: 600;
      line-height: 3.1rem;
      color: #2a5055;
    }

    &_menu {
      &_item {
        @include d-flex(flex, center, center, 8.5rem);

        &_text_1 {
          width: 10rem;
          border: 1px solid #c4dfe4;
          text-align: center;

          &_li {
            font-size: 1.6rem;
            font-weight: 600;
            line-height: 3.1rem;
            color: #356167;
          }

          &_p {
            font-size: 1.2rem;
            font-weight: 500;
            line-height: 1.8rem;
            color: #4c848c;
          }
        }
      }
    }
  }
}

.card {
  padding: 6rem 10rem;

  &_title {
    @include d-flex(flex, space-between, center, 1.5rem);

    &_logo {
      width: 45rem;
      height: 14rem;

      &_item {
        font-family: "Poppins", sans-serif;
        color: #292d35;
        line-height: 3rem;
      }

      &_text {
        width: 55rem;
        font-family: "Poppins", sans-serif;
        font-size: 1.25rem;
        line-height: 2.1rem;
        margin-top: 1rem;
        color: #14161b;
      }
    }

    &_image {
      &_img {
        width: 33rem;
        height: 23rem;
        border-radius: 0.2rem;
      }
    }
  }
}

.helpers {
  width: 100%;
  height: 22rem;
  padding: 0rem 10rem;
  background-color: #f3fdff;

  &_item {
    font-family: "Poppins", sans-serif;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 5rem;
    color: #14161b;
  }
}

.helper {
  height: 14rem;

  &_logo {
    &_menu {
      @include d-flex(flex, space-between, center, 1.5rem);

      &_item {
        padding: 2rem 0rem;

        &_img_1 {
          width: 7.2rem;
          height: 7rem;
        }

        &_h2 {
          font-family: "Poppins", sans-serif;
          font-size: 1.1rem;
          font-weight: 400;
          line-height: 1.4rem;
          color: #14161b;
        }

        &_p {
          width: 7rem;
          font-family: "Poppins", sans-serif;
          font-size: 0.7rem;
          font-weight: 300;
          line-height: 1.1rem;
          color: #1f2228;
          text-align: center;
        }
      }
    }
  }

  &_boxes {
    height: 1.5rem;
    @include d-flex(flex, center, center, 0.7rem);

    &_fill_1 {
      width: 0.7rem;
      height: 0.7rem;
    }
  }
}

.people {
  padding: 3rem 9rem;

  &_title {
    @include d-flex(flex, space-between, center, 1.5rem);

    &_logo {
      width: 45rem;
      height: 14rem;

      &_item {
        font-family: "Poppins", sans-serif;
        color: #292d35;
        line-height: 3rem;
      }

      &_text {
        width: 55rem;
        font-family: "Poppins", sans-serif;
        font-size: 1.25rem;
        line-height: 2.1rem;
        margin-top: 1rem;
        color: #14161b;
      }

      &_icon {
        width: 2rem;
        height: 4rem;
        @include d-flex(flex, space-between, center, 2.5rem);

        margin-top: 2rem;

        &_vector_1 {
          width: 1rem;
          height: 1rem;
          border-radius: 0.2rem;
        }

        &_vector_2 {
          width: 1rem;
          height: 1rem;
          border-radius: 0.2rem;
        }
      }
    }

    &_image {
      &_img {
        width: 33rem;
        height: 23rem;
        border-radius: 0.2rem;
      }
    }
  }
}

.partners {
  width: 100%;
  height: 22rem;
  padding: 0rem 10rem;

  &_item {
    font-family: "Poppins", sans-serif;
    font-size: 2rem;
    font-weight: 500;
    line-height: 3rem;
    color: #292d35;
  }

  .partner {
    &_title {
      &_menu {
        @include d-flex(flex, space-between, center, 1.5rem);

        &_item {
          padding: 5rem 0rem;

          &_logo_1 {
            width: 6.6rem;
            height: 4.3rem;
          }

          &_logo_2 {
            width: 8.2rem;
            height: 3.1rem;
          }

          &_logo_3 {
            width: 8.6rem;
            height: 4.3rem;
          }

          &_logo_4 {
            width: 4.3rem;
            height: 4.3rem;
          }

          &_logo_5 {
            width: 4.3rem;
            height: 4.3rem;
          }

          &_logo_6 {
            width: 12.7rem;
            height: 2.6rem;
          }
        }
      }
    }
  }
}

.footer {
  width: 100%;
  height: 22rem;
  padding: 0rem 9rem;
  background-color: #f0f1f3;
  border: 1px solid #a3a9b6;

  &_boxes {
    margin-top: 3rem;
    height: 20rem;

    @include d-flex(flex, space-between, center, 0.5rem);

    &_box_1 {
      width: 5rem;
      height: 15rem;

      &_item {
        &_h1 {
          font-family: "Poppins", sans-serif;
          font-size: 1.5rem;
          font-weight: 600;
          line-height: 2.3rem;
          color: #1d2939;
        }

        &_p {
          font-family: "Poppins", sans-serif;
          font-size: 1rem;
          font-weight: 400;
          line-height: 1.5rem;
          color: #1d2939;
          margin-top: 0.8rem;
        }
      }
    }

    &_box_2 {
      width: 15rem;
      height: 15rem;

      &_item {
        &_h1 {
          font-family: "Poppins", sans-serif;
          font-size: 1.5rem;
          font-weight: 600;
          line-height: 2.3rem;
          color: #1d2939;
        }

        &_p {
          font-family: "Poppins", sans-serif;
          font-size: 1rem;
          font-weight: 400;
          line-height: 1.5rem;
          color: #1d2939;
          margin-top: 0.8rem;
        }
      }
    }

    &_box_3 {
      width: 15rem;
      height: 15rem;

      &_item {
        &_h1 {
          font-family: "Poppins", sans-serif;
          font-size: 1.5rem;
          font-weight: 600;
          line-height: 2.3rem;
          color: #1d2939;
        }

        &_p {
          font-family: "Poppins", sans-serif;
          font-size: 1rem;
          font-weight: 400;
          line-height: 1.5rem;
          color: #1d2939;
          margin-top: 0.8rem;
        }
      }
    }

    &_email {
      width: 26rem;
      height: 3rem;
      margin-top: 11rem;

      &_1 {
        width: 17rem;
        height: 3rem;
        border: 1px solid #a3a9b6;
        border-radius: 0.5rem;
        padding: 0rem.9rem;
        background-color: #f0f1f3;
        margin-left: 1rem;
      }

      &_button {
        background-color: #fa8f45;
        color: rgb(251, 251, 253);
        padding: 0.9rem 0.9rem;
        border-radius: 8px;
        font-family: sans-serif;
        margin-left: 1rem;
      }
    }
  }
}

.footer_finish {
  padding: 1rem 9rem;
  background-color: #f0f1f3;

  &_cards {
    @include d-flex(flex, space-between, center, 0.5rem);

    &_box {
      @include d-flex(flex, space-between, center, 0.5rem);

      &_item {
        font-family: "Poppins", sans-serif;
        font-size: 0.8rem;
        font-weight: 400;
        line-height: 1.2rem;
        color: #000000;
      }
    }

    &_logs {
      @include d-flex(flex, space-between, center, 1.5rem);
      cursor: pointer;

      &_icons {
        &_img_1 {
          width: 1.5rem;
          height: 1.5rem;
        }

        &_img_2 {
          width: 1.5rem;
          height: 1.5rem;
        }

        &_img_3 {
          width: 1.5rem;
          height: 1.5rem;
        }

        &_img_4 {
          width: 1.5rem;
          height: 1.5rem;
        }
      }
    }
  }
}
